/vendor/
composer.lock
.env
log.txt
/locales/*
/.phpunit.result.cache
/.phpunit.cache
/tests/phpunit/files/**/*_expected
/tests/phpunit/data.db
/tests/integration/logs/*
/tests/integration/data.db
gtbabel-*-log.txt
/node_modules/
/package-lock.json
*.js.map
*.tmp-browserify*